<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">





<body>
<header th:fragment="header">
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="library/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul  class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="/index"> <span th:text="#{Home}"></span></a>

                </li>
                <li>
                    <a href="/catalog"><span th:text="#{Books}"></span></a>

                </li>

                <li > <span  th:if="${session.user != null  }">
                        <span th:if="${#lists.contains(session.user.getRole(), 'USER')}">
                    <a href="/abonement"><span th:text="#{Abonement}"></span></a>
                        </span>


                </span></li>
                <li > <span  th:if="${session.user != null  }">

                    <a href="/profile"><span th:text="#{Profile}"></span></a>



                </span></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="controller" method="get">
                <input type="search" name="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search">
                <input type="hidden" name="command" value="search"/>
            </form>

            <div class="text-end">
                <span th:if="${session.user == null}">

                     <form action="#" th:action="@{/sign_up}"  method="get">
    	            <p><input type="submit" value="Sign Up" />
                        </form>
                     <form action="#" th:action="@{/sign_in}"  method="get">
    	            <p><input type="submit" value="Sign in" />
                        </form>


                </span>


            </div>
            <div class="text-end">
                <span th:if="${session.user != null}">
                    hello <span th:text="${session.user.username}"></span>
                    <form action="#" th:action="@{/logout}"  method="post">
    	            <p><input type="submit" value="Logout" />
                        </form>
                </span>
            </div>
            <a th:href="@{/index(language='en')}">en</a>
            <a th:href="@{/index(language='uk')}">ua</a>
        </div>



    </div>

</header>
    </header>
</body>
</html>