<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Abonnement</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<tr th:each="abonement: ${abonnements}">
    <td th:text="${abonement.toString()}" />
     <span th:if="${abonement.abonnementDetails.getStatus().toString().equals('IN_USE')}">

       <form action="#" th:action="@{/return_book}" th:object="${input}" method="post">

    <input type="hidden" th:value="${abonement.book.id}" name="bookId" />
    <input type="hidden" th:value="${abonement.abonnementDetails.expDate}" name="expDate" />
    <input type="hidden" th:value="${abonement.abonnementDetails.startDate}" name="startDate" />
           <input type="hidden" th:value="${abonement.abonnementDetails.getFine()}" name="fine" />
           <input type="hidden" th:value="${abonement.abonnementDetails.getStatus().toString()}" name="status" />
    <input type="submit" value="Return Book" />
</form>

    </span>
    <span th:if="${abonement.abonnementDetails.getStatus().toString().equals('EXPIRED')}">

       <form action="#" th:action="@{/return_book}" th:object="${input}" method="post">

    <input type="hidden" th:value="${abonement.book.id}" name="bookId" />
    <input type="hidden" th:value="${abonement.abonnementDetails.expDate}" name="expDate" />
    <input type="hidden" th:value="${abonement.abonnementDetails.startDate}" name="startDate" />
           <input type="hidden" th:value="${abonement.abonnementDetails.getFine()}" name="fine" />
           <input type="hidden" th:value="${abonement.abonnementDetails.getStatus().toString()}" name="status" />
    <p><input type="submit" value="Return Book and pay fine" />
</form>

    </span>

</tr>
</span>
<span th:if="${session.user.bookInReadingRoom!=null}">

       <form action="#" th:action="@{/return_book}" th:object="${input}" method="post">
    <input type="hidden" th:value="${session.user.id}" name="userId" />


    <p><input type="submit" value="Return Book from reading room" />
</form>

    </span>


</body>
</html>