<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Book Page</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>




    <td th:text="${book.toString()}" />
</br>

<span th:if="${book.amount>0}">
    <form action="#" th:action="@{/order_book}" th:object="${input}" method="post">
        <input type="hidden" th:value="${session.user.id}" name="userId" />
        <input type="hidden" th:value="${book.id}" name="bookId" />
        <input type="hidden" th:value="${true}" name="toAbonement" />
        <p>Desired date: <input type="date" th:field="*{desiredDate}" /></p>

        <input type="submit" value="Order Book to Abonement" />
    </form>
    <form action="#" th:action="@{/order_book}" th:object="${input}" method="post">
        <input type="hidden" th:value="${session.user.id}" name="userId" />
        <input type="hidden" th:value="${book.id}" name="bookId" />
        <input type="hidden" th:value="${false}" name="toAbonement" />
        <p>Desired date: <input type="date" th:field="*{desiredDate}" /></p>

        <input type="submit" value="Order Book to Reading Room" />
    </form>
</span>






</body>
</html>