<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Catalog</title>
</head>
<body>

<div th:insert="fragments/header :: header"></div>



    <table id="example" class="table table-bordered" style="width: 100%">
        <thead>
        <tr>
            <th>Name
                <form action="#" th:action="@{/catalog}" th:object="${CatalogPage}" method="get">
                    <input type="hidden" th:value="name" name="key" />
                    <input type="hidden" th:value="desc" name="direction" />
                    <p><input type="submit" value="↓" />
                </form>
                <form action="#" th:action="@{/catalog}" th:object="${CatalogPage}" method="get">
                    <input type="hidden" th:value="name" name="key" />
                    <input type="hidden" th:value="asc" name="direction" />
                    <p><input type="submit" value="↑" />
                </form>
            </th>
            <th>Author
                <form action="#" th:action="@{/catalog}" th:object="${CatalogPage}" method="get">
                    <input type="hidden" th:value="author.name" name="key" />
                    <input type="hidden" th:value="desc" name="direction" />
                    <p><input type="submit" value="↓" />
                </form>
                <form action="#" th:action="@{/catalog}" th:object="${CatalogPage}" method="get">
                    <input type="hidden" th:value="author.name" name="key" />
                    <input type="hidden" th:value="asc" name="direction" />
                    <p><input type="submit" value="↑" />
                </form></th>
            <th>Publisher<form action="#" th:action="@{/catalog}" th:object="${CatalogPage}" method="get">
                <input type="hidden" th:value="publisher.name" name="key" />
                <input type="hidden" th:value="desc" name="direction" />
                <p><input type="submit" value="↓" />
            </form>
                <form action="#" th:action="@{/catalog}" th:object="${CatalogPage}" method="get">
                    <input type="hidden" th:value="publisher.name" name="key" />
                    <input type="hidden" th:value="asc" name="direction" />
                    <p><input type="submit" value="↑" />
                </form></th>
            <th>Publication Date<form action="#" th:action="@{/catalog}" th:object="${CatalogPage}" method="get">
                <input type="hidden" th:value="publicationDate" name="key" />
                <input type="hidden" th:value="desc" name="direction" />
                <p><input type="submit" value="↓" />
            </form>
                <form action="#" th:action="@{/catalog}" th:object="${CatalogPage}" method="get">
                    <input type="hidden" th:value="publicationDate" name="key" />
                    <input type="hidden" th:value="asc" name="direction" />
                    <p><input type="submit" value="↑" />
                </form></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.name}"/>
            <td th:text="${book.author}"/>
            <td th:text="${book.publisher}"/>
            <td th:text="${book.publicationDate}"/>
            <td ><form action="#" th:action="@{/book_page}" th:object="${bookDetail}" method="get">
            <input type="hidden" th:value="${book.id}" name="bookId" />

            <p><input type="submit" value="Book Details" />
        </form></td>
            <td><span th:if="${session.user!=null}">
    <span th:if="${#lists.contains(session.user.getRole(), 'ADMIN')}">

       <form action="#" th:action="@{/edit_book_page}" th:object="${bookDetail}" method="get">
    <input type="hidden" th:value="${book.id}" name="bookId" />

    <p><input type="submit" value="Edit Book" />
</form>

    </span>
    </span></td>
            <td><span th:if="${session.user!=null}">
    <span th:if="${#lists.contains(session.user.getRole(), 'ADMIN')}">

       <form action="#" th:action="@{/delete_book}" th:object="${bookDetail}" method="post">
    <input type="hidden" th:value="${book.id}" name="bookId" />

    <p><input type="submit" value="Delete Book" />
</form>

    </span>
    </span></td>
        </tr>
        </tbody>
    </table>







<div>
<span th:if="${books.hasPrevious()}">
     <form action="#" th:action="@{/catalog}" th:object="${CatalogPage}" method="get">
    <input type="hidden" th:value=${previousPage} name="page" />

    <p><input type="submit" th:value=${previousPage} />
</form>
</span>
<span th:text=${currentPage}></span>
<span th:if="${books.hasNext()}">
     <form action="#" th:action="@{/catalog}" th:object="${CatalogPage}" method="get">
    <input type="hidden" th:value=${nextPage} name="page" />

    <p><input type="submit" th:value=${nextPage} />
</form>
</span>
</div>
</body>
</html>