<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Create book</title>
</head>
<body>

<form action="#" th:action="@{/create_book}" th:object="${input}" method="post">
  <p>Name: <input type="text" th:field="*{name}" /></p>
  <p>Amount: <input type="number" th:field="*{amount}" /></p>
  <p>Publication Date: <input type="date" th:field="*{date}" /></p>
  <select class="form-control" th:field="*{author}">
        <option th:each="authorFromList : ${authors}" th:value="${authorFromList.id}" th:text="${authorFromList.name}"></option>
  </select></br>
  <select class="form-control" th:field="*{publisher}">
    <option th:each="publisherFromList : ${publishers}" th:value="${publisherFromList.id}" th:text="${publisherFromList.name}"></option>
  </select></br>
  <input type="submit" value="Create Book" />
</form>
</body>
</html>