<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Orders</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<tr th:each="order: *{orders}">
    <td th:text="${order.toString()}" />


       <form action="#" th:action="@{/approve_order}" th:object="${input}" method="post">
    <input type="hidden" th:value="${order.user.id}" name="userId" />
    <input type="hidden" th:value="${order.id}" name="id" />

    <input type="hidden" th:value="${order.book.id}" name="bookId" />
    <input type="hidden" th:value="${order.desiredDate}" name="desiredDate" />

    <input type="submit" value="Approve_order" />
</form>





</tr>

</body>
</html>