<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<td th:text="${session.user.toString()}" />

<span th:if="${#lists.contains(session.user.getRole(), 'USER')}">
<a href="/top_up_page">Top Up</a>
</span>
<span th:if="${#lists.contains(session.user.getRole(), 'LIBRARIAN')}">
<a href="/orders">Orders</a>

    </span>


<span th:unless="${#lists.contains(session.user.getRole(), 'USER')}">

<a href="/users">Users</a>

    </span>

<span th:if="${#lists.contains(session.user.getRole(), 'ADMIN')}">

<a href="/create_librarian_page">Create Librarian</a>

</span>
<span th:if="${#lists.contains(session.user.getRole(), 'ADMIN')}">



       <form action="#" th:action="@{/create_author}" th:object="${input}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <input type="submit" value="Create Author" />
</form>

    </span>

<span th:if="${#lists.contains(session.user.getRole(), 'ADMIN')}">

<a href="/create_book_page">Create Book</a>

</span>







</body>
</html>