<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Sign In</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<form action="#" th:action="@{/sign_up}" th:object="${input}" method="post">
    <p>Mail: <input type="email" th:field="*{mail}" /></p>
    <p>Username: <input type="text" th:field="*{username}" /></p>
    <p>Password: <input type="password" th:field="*{passwordFirst}" /></p>
    <p>Repeat password: <input type="password" th:field="*{passwordSecond}" /></p>

    <p><input type="submit" value="Submit" />
</form>


</body>
</html>