<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Top Up</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<form action="#" th:action="@{/top_up}" th:object="${input}" method="post">
    <p>Mail: <input type="number" th:field="*{money}" /></p>

    <p><input type="submit" value="Top Up" />
</form>


</body>
</html>