<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">

    <title>Users</title>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<tr th:each="user: *{users}">
    <td th:text="${user.toString()}" />

    <span th:if="${user.ban}">
       <form action="#" th:action="@{/unban_user}" th:object="${input}" method="post">
    <input type="hidden" th:value="${user.id}" name="userId" />

    <input type="submit" value="Unban user" />
</form>

    </span>
    <span th:unless="${user.ban}">

      <form action="#" th:action="@{/ban_user}" th:object="${input}" method="post">
    <input type="hidden" th:value="${user.id}" name="userId" />

    <input type="submit" value="Ban user" />
</form>

    </span>

</tr>


</body>
</html>